body {
  background: 
  url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%230288d1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"), 
  #b3e5fc !important;
  
}

/*Animacion de pulso para resaltar el boton de ayuda*/

#boton-ayuda{
   animation: shadow-pulse 4s ease-in-out infinite 1.5s;
}

@keyframes shadow-pulse {
   0%,60%{
      box-shadow: 0 0 0 0 lightgray;
   }

   85%{
      box-shadow: 0 0 0 5px lightgray;
   }

   100%{
      box-shadow: 0 0 0 10px transparent;
   }
}

.form-label.requerido:after
{
  content: ' *';
  color: red;
}


div.campo:has(.form-control:required) label.form-label:after,
div.campo:has(.form-select:required) label.form-label:after
{
  content: ' *';
  color: red;
}

label.error {
   font-size: 70%;
   color: red;
}

/*.form-select::after {
  content: "";
}*/

.form-control.error:not(:focus), 
.form-select.error:not(:focus)  
{
   border: 1px red solid !important;
   background-color: rgb(254 242 242) !important;
}

.form-control:focus, 
.form-select:focus  
{
   border: 1px blue solid !important;
   background-color: rgb(224 242 254) !important;
}

.form-control.valid:not(:disabled), 
.form-select.valid:not(:disabled)
{
   border: 1px green solid !important;
   background-color: rgb(220 252 231) !important;
}


.form-control:has(.form-label.error), 
.form-select:has(.form-label.error)
{
   margin-bottom: 0 !important;
}
@media (max-width: 575.98px) {
  .w-xs-25 {
    width: 25% !important;
  }

  .w-xs-50 {
    width: 50% !important;
  }

  .w-xs-75 {
    width: 75% !important;
  }

  .w-xs-100 {
    width: 100% !important;
  }

  .w-xs-auto {
    width: auto !important;
  }
}

optgroup:disabled {
  display: none !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .w-xxl-25 {
    width: 25% !important;
  }

  .w-xxl-50 {
    width: 50% !important;
  }

  .w-xxl-75 {
    width: 75% !important;
  }

  .w-xxl-100 {
    width: 100% !important;
  }

  .w-xxl-auto {
    width: auto !important;
  }
}

