html {
  box-sizing: border-box;
  font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #B3E5FC;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

.contenedor {
  width: 95%;
  max-width: 120rem; /** = 1200px; **/
  margin: 0 auto;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}

/** Utilidades **/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fw-300 {
  font-weight: 300;
}
.centrar-texto {
  text-align: center;
}
.contenido-centrado {
  max-width: 800px;
}

div{
  background-color: #03A9F4;
  padding: 0.5rem;

}
div.contenedor-form {

  border: 1rem solid #0288D1;
  border-radius: 0.5rem;
}
div.campo{
  background-color: #e1e1e1;
  border-radius: 1rem;
}
div.fondo{
  background-color: #ffffff;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/** Botones **/
.boton {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 1rem;
}

.boton.boton-pequeno{
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
}

.linea .boton {
  display: inline-block;
  width: auto;
}

.boton:hover {
  cursor: pointer;
}

.boton-naranja {
  background-color: #FFC107 !important;
  width: 100%;
}

.inicio-sesion p {
  font-size: 1.4rem;
  color: #4f4f4f;
  margin: 2rem 0 0 0;
}
legend {
  font-size: 2rem;
  color: #4f4f4f;
}
label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
input:not([type="submit"]),input:not([type="radio"]),input:not([type="checkbox"]),
textarea,
select {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}
input[type="radio"]{
  width: auto;
  margin: 0;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
textarea {
  height: 20rem;
}

.linea {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 8px solid #0288D1;
  background-color: #03A9F4;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
  background-color: #ffffff;
}

th.naranja {
    padding: 20px;
    background-color: #FFC107;
}

a.enlace {
    color: #000000;
    text-decoration: none;
}
